@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.partial {
	background: linear-gradient(90deg, #62A9E6 0%, #9ED1FD 100%);
}

.sunny {
	background: linear-gradient(90deg, #90E5E3 0%, #C1EEE8 100%);
}

.night {
	background: linear-gradient(90deg, #5E57AF 0%, #C18BAB 100%);
}

.cloudy {
	background: linear-gradient(90deg, #879DB1 0%, #ADBFCD 100%);
}

.rain {
	background: linear-gradient(90deg, #3C5B76 0%, #839AAD 100%);
}

.snow {
	background: linear-gradient(90deg, #7CB3F9 0%, #C8E4FC 100%);
}